@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*valores root*/

:root {
    --primary-color: #8a0202;
    --primary-color-dark: #630101;
    --text-dark: #211f1b;
    --white: #e6e0dd;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit
}

img {
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_cabecalho {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a img {
    max-width: 125px;
}

.nav_logo .logoDark {
    display: none;
}

.nav_menubtn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color-dark);
    transition: transform 0.5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(100%);
}

.nav_links a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;

}
/* header menor*/

header{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;

    display: grid;
    gap: 4rem 1rem;
}

.header_image {
    overflow: hidden;
}

.header_image img {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 2rem
}

/*Textos da header*/

.conteudo_header h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color-dark);
    text-align: center;

}

.conteudo_header h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.5rem;
    text-align: center;
    color: var(--text-dark);
}

.conteudo_header p {
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;

}

/*Botoes da header*/

.btnLayout {
    display: flex;
    justify-content: space-between;
}

.header__btn {
    margin-bottom: 1rem;
    text-align: center;
}

.header__btn button {
    padding: 1rem 1.5rem;
    width: fit-content;
    outline: none;
    border: none;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    transition: .3s;
}

.header__btn button:hover {
    background-color: var(--primary-color-dark);
}
/*Links e Icones para socials*/
.redes_sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.redes_sociais a {
    padding: 8px 10px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
}

.redes_sociais a:hover {
    background-color: var(--primary-color-dark);
}

/* site em telas maiores*/
@media (width > 786px) {
    nav {
        position: static;
        padding: 2rem 1rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        background-color: var(--white);
        justify-content: space-between;
    }

    /*cabeçlho grande*/

    .nav_cabecalho {
        padding: 0;
        background: #e6e0dd;
        border: 10px;
    }

    .nav_logo a img {
        max-width: 200px;
    }

    .nav_logo .logoDark {
        display: flex;
    }
    
    .nav_logo .LogoLight {
        display: none;
    }

    .nav_menubtn {
        display: none;
    }

    .nav_links {
        position:static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: var(--white);
        transform: none !important;
    }

    .nav_links a {
        font-weight: 600;
        color: var(--text-dark);
    }

    .nav_links a:hover {
        color: var(--primary-color)
    }
    
/*Header grande*/
    
.wrapper {
    box-sizing: border-box;
    background-color: var(--white);
    height: 100vh;
    width: max(40%, 500px);
    padding: 300px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    body {
    background-size: cover;
    background-position: right;
    min-height: 100vh;
    background-image: url(./content/img/background.jpg);
}

    header{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header_image {
        overflow: hidden;
        display: none;
    }

    .conteudo_header {
        grid-area: 1/1/2/2;
    }

    .conteudo_header :is(h2, h1, p, .botao_header){
        text-align: center;
    }

    .redes_sociais {
        justify-content: center;
    }
}