@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #8a0202;
    --primary-color-dark: #630101;
    --text-dark: #211f1b;
    --white: #e6e0dd;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit
}

img {
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_cabecalho {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a img {
    max-width: 125px;
}

.nav_logo .logoDark {
    display: none;
}

.nav_menubtn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color-dark);
    transition: transform 0.5s;
    z-index: -1;
}

.nav_links.open {
    transform: translateY(100%);
}

.nav_links a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;

}
.tabela {
        border-collapse: collapse;
        margin-top: 10px;
        margin: 25px, 0;
        font-size: 0.9em;
        min-width: 400px;
        margin-left: 20px;
    }

.tabela thead tr {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: left;
    font-weight: bold;
}

.tabela th,

.tabela td{
    padding: 12px 15px;
}

.tabela tbody tr:nth-of-type(even){
    background-color: #630101;
    color: var(--white);
    border-bottom: 1px solid var(--primary-color);
}

.tabela tbody tr{
    border-bottom:var(--primary-color-dark) ;
}

.tabela tbody tr:last-of-type{
    border-bottom: 2px solid var(--primary-color);
}

.textos img{
    max-width: 400px;
    border-radius: 50px;
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.textos h1{
    color: var(--primary-color);
}

h2 {
    justify-self: center;
    color: var(--primary-color);
}
.tabela2 {
        justify-self: center;
        border-collapse: collapse;
        margin-top: 10px;
        margin: 25px, 0;
        font-size: 0.9em;
        min-width: 400px;
    }
.tabela2 thead tr {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: left;
    font-weight: bold;
}

.tabela2 th,

.tabela2 td{
    padding: 12px 15px;
}

.tabela2 tbody tr:nth-of-type(even){
    background-color: #630101;
    color: var(--white);
    border-bottom: 1px solid var(--primary-color);
}

.tabela2 tbody tr{
    border-bottom:var(--primary-color-dark) ;
}

.tabela2 tbody tr:last-of-type{
    border-bottom: 2px solid var(--primary-color);
}
@media (width > 786px) {
    nav {
        position: static;
        padding: 2rem 1rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        background-color: var(--white);
        justify-content: space-between;
    }

    /*cabeçlho grande*/

    .nav_cabecalho {
        padding: 0;
        background: #e6e0dd;
        border: 10px;
    }

    .nav_logo a img {
        max-width: 200px;
    }

    .nav_logo .logoDark {
        display: flex;
    }
    
    .nav_logo .LogoLight {
        display: none;
    }

    .nav_menubtn {
        display: none;
    }

    .nav_links {
        position:static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: var(--white);
        transform: none !important;
    }

    .nav_links a {
        font-weight: 600;
        color: var(--text-dark);
    }

    .nav_links a:hover {
        color: var(--primary-color)
    }
}